---
const {
    beforeImg, afterImg,
    titleBefore, textBefore,
    titleAfter, textAfter 
} = Astro.props
---

<div
 x-data="{ flipped: false }"
 class="flex flex-col md:flex-row items-center gap-8 max-w-4xl mx-auto"
>
  <!-- Card -->
  <div
    @click="flipped = !flipped"
    class="w-full md:w-1/2 aspect-[4/3] perspective cursor-pointer"
  >
    <div
      :class="flipped ? 'rotate-y-180' : ''"
      class="relative w-full h-full transition-transform duration-800 transform-style-preserve-3d"
    >
      <!-- before -->
      <div class="absolute inset-0 backface-hidden">
        <img src={beforeImg} alt="avant" class="w-full h-full object-cover rounded-xl shadow-xl" />
      </div>

      <!-- after -->
      <div class="absolute inset-0 rotate-y-180 backface-hidden">
        <img src={afterImg} alt="apres" class="w-full h-full object-cover rounded-xl shadow-xl" />
      </div>
    </div>
    <!-- badge on Mobile (human friendly on mobile) -->
    <div class="absolute bottom-2 right-2 bg-black/80 text-amber-100 text-xs md:text-xl px-2 py-1 rounded shadow">
         <span x-show="!flipped" x-cloak>Appuyez pour découvrir après travaux !</span>
         <span x-show="flipped" x-cloak>Appuyez pour revoir avant travaux</span>
    </div>
  </div>

    <!-- Dynamic text according to card side showed -->
    <div class="w-full md:w-1/2 space-y-4 text-center md:text-left">
        <h2 class="text-2xl font-semibold text-amber-600">
            <span x-show="!flipped" x-cloak>{titleBefore}</span>
            <span x-show="flipped" x-cloak>{titleAfter}</span>
        </h2>
        <p class="text-gray-700 text-lg">
           <span x-show="!flipped" x-cloak>{textBefore}</span>
           <span x-show="flipped" x-cloak>{textAfter}</span>
        </p>
    </div>
</div>