---
const {
    title = "Isolation Extérieure Bayonne et Côte Basque",
    description = "Spécialiste de l'isolation thermique extérieure - ITE - sur la côte Basque : maisons, immeubles, ravalement de façade et plus.",
    jsonld=null
} = Astro.props;

const pathWithTSlash = Astro.url.pathname.endsWith('/') || Astro.url.pathname === '/'
            ? Astro.url.pathname
            : Astro.url.pathname + '/';
const canonicalURL = new URL(pathWithTSlash, Astro.site);

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="fr" x-init>
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL.toString()} />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="MyWebSite" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="robots" content="index, follow" />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="fr_FR" />
        <meta name="twitter:card" content="summary_large_image" />
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" is:inline></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" is:inline></script>
        <slot name="head" />
        {jsonld && (
            <script type="application/ld+json" is:raw>
                {JSON.stringify(jsonld)}
            </script>
        )}
    </head>
    <body>
        <Header />
        <main>
           <slot />
        </main>
        <Footer />
        
    </body>
</html>